@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4EEE0;
  --foreground: #393646;
  --primarybutton: #9ca8d6;
  --primarybuttonhover: #7a8ac7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #393646;
    --foreground: #F4EEE0;
    --primarybutton: #9ca8d6;
    --primarybuttonhover: #7a8ac7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
